

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* my css style */

html {
 background-color: #aad4cf;
}

body {
    background-color: #d4e9e7;
    width: 1025px;
    height: 1590px;
    margin: 0 auto;
	font-family: Arial;
}

.content {
	position: relative;
}

h1 {
	color: white;
	text-align: center;
	font-size: 64px;
	position: absolute;
	margin-top: 200px;
	margin-left: 325px;
}

nav ul li {
	width: 318px;
	height: 25px;
	display: inline-block;
	text-align: center;
	padding: 10px;
	font-size: 26px;

}

.home {
	border-right: 1px #5c6565 solid;
}

.story {
	border-right: 1px #5c6565 solid;
}

main {
	margin: 10px;
}

/* padding: top right bottom left */

.picture {
	width: 250px;
	height: 257px;
	float: left;
	padding: 0 22px 22px 0;
	
}

h2 {
	font-size: 35px;
	padding: 25px 0 25px 0;
	
}

article div p {
	font-size: 16px;
	line-height: 1.4;
}

h3 {
	font-size: 29px;
	padding-top: 25px;
	padding-bottom: 15px;
}

ol li {
	list-style: disc;
	margin-left: 15px;
	
}

form {
	border: 1px black solid;
}

form div {
	
	padding: 35px 16px 0 16px;

}

input[type="text"] {
	width: 100%;
	border-radius: 0%;
	border: 1px gray solid;
	margin: 10px 10px 0 0;
	padding: 5px;
	box-sizing: border-box;
}

.name-box,
.email-box,
.message-box {
	margin-bottom: -12px;
}

.message-box input[type="text"] {
   
    width: 100%;
	padding: 42px;
    border: 1px gray solid;
    border-radius: 0px;
}

label[for="your-name"],
label[for="your-email"],
label[for="your-message"] {
	font-size: 18px;
	box-sizing: border-box;
}

h4 {
	font-size: 22px;
	padding-bottom: 30px;
}
.send-button {
	border: 1px black solid;
  	padding: 12px 10px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 11px;
	background-color: #d4e9e7;
	margin: 16px;
}

footer {
	text-align:right;
	padding: 20px 30px 0 0;
}

label[for="yes"],
label[for="no"],
label[for="maybe"] {
	font-size: 19px;
	
}